<div class = "row">
  <%= f.label :label,
    title: "A label describing the post e.g. 'Councillor at Clackmannanshire Council'" %>
  <%= f.text_field :label %>
</div>

<div class = "row">
  <%= f.label :role, title: "The function that the holder of the post fulfills, e.g. 'Councillor'" %>
  <%= f.text_field :role %>
</div>

<div class = "row">
  <%= f.label :start_date, "Date of creation" %>
  <p>The date the post was established, please format as DD/MM/YYYY.</p>
  <p><%= f.text_field :start_date, class: "form-control" %></p>
</div>

<div class = "row">
  <%= f.label :end_date, "Date of elimination" %>
  <p>The date the post was eliminated. Leave blank if still in operation.</p>
  <p><%= f.text_field :end_date, class: "form-control" %></p>
</div>

<%= render 'admin/shared/sources_links_contacts', f: f %>