<div class = "row">
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<div class = "row">
<%= f.label :founding_date %>
<p>Please format dates as DD/MM/YYYY</p>
<%= f.text_field :founding_date, class: "form-control" %>
</div>

<div class = "row">
<%= f.label :dissolution_date %>
<p>Leave blank if not applicable</p>
<%= f.text_field :dissolution_date, class: 'form-control' %>
</div>

<div class = "row">
<%= f.label :image, 'An image URL' %>
<%= f.text_field :image %>
</div>

<%= render 'admin/shared/sources_links_contacts', f: f %>