<div class = "row">
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<div class = "row">
<%= f.label :founding_date %>
<%= f.date_select :founding_date, include_blank: true, start_year: 1900, class: 'form-control' %>
</div>

<div class = "row">
<%= f.label :dissolution_date %>
<%= f.date_select :dissolution_date, include_blank: true, start_year: 1980, class: 'form-control' %>
</div>

<div class = "row">
<%= f.label :image, 'An image URL' %>
<%= f.text_field :image %>
</div>

<%= field_set_tag 'Links' do %>
  <% f.fields_for :links do |lf| %>
    <%= render 'admin/shared/linkable_fields', f: lf %>
  <% end %>
<% end %>

<%= field_set_tag 'Sources' do %>
  <% f.fields_for :sources do |sf| %>
    <%= render 'admin/shared/linkable_fields', f: sf %>
  <% end %>
<% end %>

<%= field_set_tag 'Contacts Details' do %>
  <% f.fields_for :contact_details do |cf| %>
    <%= render 'admin/shared/contact_details_fields', f: cf %>
  <% end %>
<% end %>