<h1>Organisation</h1>

<table class = "table table-striped table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>No. of members</th>
    <th>Posts</th>
    <th>Actions</th>
  </tr>
  <% for organization in @organizations %>
    <tr>
      <td><%= link_to organization, admin_organization_path(organization) %></td>
      <td><%= organization.memberships.size %></td>
      <td><%= organization.posts.join(', ') %></td>
      <td><%= link_to 'Edit', edit_admin_organization_path(organization), role: "button" %> |
        <%= link_to 'Delete', admin_organization_path(organization), role: "button", method: :delete  %></td>
    </tr>
  <% end %>
</table>
<hr/>
<%= link_to 'New organisation', new_admin_organization_path %>