<div class = "delete_object">
  <!-- <%= f.object_name %> -->
  <%= f.label :label %>
  <%= f.text_field :label %><br/>
  <%= f.label :value, title: "A value, e.g. a phone number or email address" %>
  <%= f.text_field :value %><br/>
  <%= f.label :type, title: "A type of medium, e.g. 'voice', 'fax', 'email' " %>
  <%= f.text_field :type %><br/>
  <%= f.label :note, title: "" %>
  <%= f.text_field :note %>
  <%= f.hidden_field :_destroy %>

  <%= link_to 'Delete', '#', class: "delete_association" %>
</div>