<!DOCTYPE html>
<html>
<head>
  <title>ClacksPopolo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class = "row-fluid">
  <div id = "navigation-options" class = "">
    <ul>
      <% if current_admin %>
        <li class=""><%= link_to 'Profile', main_app.edit_admin_registration_path,
          :class => controller.controller_name.eql?('registrations') ? "active" : "" %>
        </li>
        <li class="">
          <%= link_to('Sign out'.html_safe, main_app.destroy_admin_session_path, :method => :delete, :class => "") %>
        </li>
      <% else %>
        <li class=""><%= link_to('Sign in'.html_safe, main_app.new_admin_session_path, :class => "") %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= content_tag(:div, notice, :class => "alert info notice") unless notice.blank? %>
<%= content_tag(:div, alert, :class => "alert") unless alert.blank? %>

<%= yield %>

</body>
</html>
